name: Example

on:
  push:
    branches: [ main ]

permissions:
  contents: read
  pages: write
  id-token: write

environment:
  name: github-pages
  url: ${{ steps.deployment.outputs.page_url }}

jobs:
  deploy:
    name: Test Deploy
    runs-on: ubuntu-latest
    steps:
    - name: download
      uses: actions/checkout@v4

    - name: deploy
      uses: actions/deploy-pages@v4
      with:
        path: "."
